.container {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  
  .card-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .card-img-left {
    width: 25%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  p {
    text-transform: uppercase;
    font-family: Gameboy;
    font-size: 15px;
  }
  h5 {
    text-transform: uppercase;
    font-family: Gameboy;
    font-size: 15px;
  }