<div *ngIf="loading">Caricamento in corso...</div>

<div *ngIf="!loading && carta2Data" class="container card-custom">
  <div class="card-wrapper">
    <img [src]="carta2Data?.images?.small" [alt]="carta2Data?.name" class="card-img-left img-fluid" />
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ carta2Data?.name }}</h5>
        <p class="card-text">Tipo: {{ carta2Data?.types?.join(', ') }}</p>
        <p class="card-text">Set: {{ carta2Data?.set?.name }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && error">
  <p>Si è verificato un errore nel recuperare la carta Pinsir.</p>
</div>

<div *ngIf="!loading && !carta2Data">
  <p>Nessuna carta Pinsir trovata.</p>
</div>
