<div *ngIf="loading">Caricamento in corso...</div>

<!-- Contenitore per immagine e card -->
<div *ngIf="!loading && carta1Data" class="container card-custom">
    <div class="row">
<div class="card-wrapper">
    <!-- Immagine fuori dalla card, a sinistra -->
    <img [src]="carta1Data?.images?.small" [alt]="carta1Data?.name" class="card-img-left img-fluid" />

    <!-- Card con i dati a destra dell'immagine -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ carta1Data?.name }}</h5>
        <p class="card-text">Tipo: {{ carta1Data?.types?.join(', ') }}</p>
        <p class="card-text">Set: {{ carta1Data?.set?.name }}</p>
      </div>
    </div>
  </div>
    </div>
  
</div>

<!-- Messaggio di errore -->
<div *ngIf="!loading && error">
  <p>Si è verificato un errore nel recuperare la carta Ditto.</p>
</div>

<!-- Messaggio se non è stata trovata la carta Ditto -->
<div *ngIf="!loading && !carta1Data">
  <p>Nessuna carta Ditto trovata.</p>
</div>
