<div *ngIf="loading" class="loading">Caricamento in corso...</div>

<div *ngIf="!loading && carta1Data" class="container card-custom">

  <div class="card-wrapper">
    <!-- Immagine -->
    <img [src]="carta1Data?.images?.small" [alt]="carta1Data?.name" class="card-img-left img-fluid" />
    <!-- Card con i dati -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ carta1Data?.name }}</h5>
        <p class="card-text">Tipo: {{ carta1Data?.types?.join(', ') }}</p>
        <p class="card-text">Set: {{ carta1Data?.set?.name }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Messaggio di errore -->
<div *ngIf="!loading && error" class="error-message">
  <p>Si è verificato un errore nel recuperare la carta Ditto.</p>
</div>

<!-- Messaggio se non è stata trovata la carta Ditto -->
<div *ngIf="!loading && !carta1Data" class="no-card-message">
  <p>Nessuna carta Ditto trovata.</p>
</div>
