@font-face {
    font-family: Gameboy;
    src: url("../../assets/fonts/Early GameBoy.ttf") format("truetype");
}
#name {
    text-transform: uppercase;
    font-family: Gameboy;
}
.card {
    box-shadow: rgba(128, 0, 128, 0.25) 0px 54px 55px, 
            rgba(128, 0, 128, 0.12) 0px -12px 30px, 
            rgba(128, 0, 128, 0.12) 0px 4px 6px, 
            rgba(128, 0, 128, 0.17) 0px 12px 13px, 
            rgba(128, 0, 128, 0.09) 0px -3px 5px;
    transition: transform .2s;
}
.card:hover {
    transform: scale(1.2);
}
.immagine {
    
}